h2 {
  margin-top: 30px;
  margin-left: 20px;
  background-color: #e0e0e0;
  padding: 20px 20px;
}

form {
  background-color: #ededed;
  padding: 20px 20px;
}

label {
  margin-top: 10px;
  margin-left: 35px;
  border-radius: 5px;
}

input {
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 5px;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 35px;
  padding: 3px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  margin-top: 10px;
  margin-left: 30px;
  width: 40%;
}

th {
  text-align: center;
  height: 30px;
  background-color: #659081;
  color: white;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}